.navbar {
  background: linear-gradient(
    120deg,
    rgba(26, 41, 128, 1) 0%,
    rgba(38, 208, 206, 1) 100%,
    rgba(26, 41, 128, 1) 100%
  );
  color: white;
  padding: 10px 15%;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  position: fixed; /* Make the navbar fixed at the top */
  top: 0;
  left: 0;
  width: 100%; /* Span the full width of the page */
  z-index: 1000; /* Ensure the navbar appears above the sidebar */
}

.navbarList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.navbarList li {
  font-size: 14px;
  margin-left: 20px;
  color: white;
  white-space: nowrap;
}

.navbarList li:hover {
  cursor: pointer;
  text-decoration: underline; /* Adds underline on hover for better UX */
}
