<div class="sidebar">
  <div class="sidebarWrapper">
    <div class="sidebarMenu" style="background-color: #126171;">
      <h3 class="sidebarTitle">
        Mon Espace RNE
        <button class="backButton" style="background-color: #126171; border: none;">
          <i class="fas fa-chevron-left" style="color: #ffffff;"></i>
        </button>
      </h3>
    </div>

    <div class="sidebarMenu">
      <h3 class="sidebarTitle">
        <i class="fas fa-user sidebarIcon"></i>
        Mon profil
        <i class="fas fa-plus sidebarPlus"></i>
      </h3>
    </div>

    <div class="sidebarMenu">
      <h3 class="sidebarTitle">
        <i class="fas fa-list-alt sidebarIcon"></i>
        Historique et commandes
        <i class="fas fa-plus sidebarPlus"></i>
      </h3>
    </div>

    <div class="sidebarMenu">
      <h3 class="sidebarTitle">
        <i class="fas fa-th-large sidebarIcon"></i>
        Espace E-Services
        <i class="fas fa-plus sidebarPlus"></i>
      </h3>
    </div>

    <div class="sidebarMenu">
      <h3 class="sidebarTitle">
        <i class="fas fa-bolt sidebarIcon"></i>
        Gestion des abonnements
        <i class="fas fa-plus sidebarPlus"></i>
      </h3>
    </div>

    <div class="sidebarMenu">
      <h3 class="sidebarTitle">
        <i class="fas fa-bell sidebarIcon"></i>
        My notifications
        <i class="fas fa-plus sidebarPlus"></i>
      </h3>
    </div>
  </div>
</div>

<router-outlet></router-outlet>